/*==================================================
	Dark:			#460C08
	Brown:			#5D2123
	Red:			#AB232D
	Dust:			#C79E60
	Light:			#FCFBF6
==================================================*/

body {
	background: #3C3935 url(/images/bg.png) repeat;
}

#header{width: 100%;height: 100px;}

#logo {background:#AB232D;width:110px;height:67px;margin-left:20px;
		-webkit-box-shadow: 1px 2px 5px #000;position:relative;float:left;}
#typography{width:100px; height:62px; margin:0 auto;border:1px dashed #fff;border-top:none;}
#header_menu {width:500px;position:relative;float:right;}
#header_menu li{list-style:none;position:relative;float:left;}
#header_menu .select{background: url(/images/menu.png) no-repeat; width:76px; height:115px;text-shadow: 0px 1px 0px #ccc;}
.menu_item{margin-top: 30px;}
#login_field{width:100%;}
#wrap{width:100%;height:auto;}

/*About part*/
#review{width:960px;margin:0 auto;background:rgba(0, 0, 0, 0.4);padding: 20px;
	-webkit-border-radius:15px;
	-webkit-box-shadow: 1px 2px 5px #000;}
#list,#calendar,#graph{height: 300px;}
#review .left{position:relative;float:left; text-align:left; margin: 0px;}
#review .right{position: relative; float:right; text-align:right; margin: 0px;}
.intro {width:560px;}
.thumb{width: 400px;}
#list_title,#graph_title{ text-align: left;}
#calendar_title{text-align: right;}
.screenshot{margin-top:1em;}
.hr{margin-top:50px;margin-bottom:40px;}

/*Task List part*/
#task_list{width:960px;margin:0 auto; background:#fcfbf6;padding:20px;
		-webkit-border-radius:15px;
		/*-webkit-box-shadow: 1px 2px 5px #000;*/}
#user_panel{width:100%;}
.gravatar{border:1px solid #fff;margin-right:5px;}
#control_panel{width:100%;position:relative;float:left;}
#task_container{width:100%;position:relative;float:left;}
.pagination{list-style:none; margin: 0px; padding: 0px;}
.pagination li {float: left; margin: 3px;}
.pagination li a { display: block; padding: 3px 5px; color: #fff; background: #AB232D; text-decoration: none; }
.pagination li a.active{ border: 1px solid #000; color: #000; background: #fff; }
.pagination li a.inactive { background: #eee; color: #777; border: 1px solid #ccc;}
.task_entry{width:100%;margin:5px;border-bottom:1px dashed #ccc;}
.date_column{float: left;width:58px;border:1px solid #000;}
.task_column{float: right;width:880px;line-height:80px;}
.date_area{background:#fff;height:50px;}
.week_area{background:#AB232D;height:30px;}
.date_title{background:#C79E60;height:20px;margin-bottom:5px;}
