/*==================================================
	Dark:			#460C08
	Brown:			#5D2123
	Red:			#AB232D
	Dust:			#C79E60
	Light:			#E1E8E9
==================================================*/

body {
	background: #3C3935 url(/images/bg.jpg) repeat;
}

#header{width: 100%;height: 100px;}

#logo {background:#AB232D;width:110px;height:67px;
		-webkit-box-shadow: 1px 2px 5px #000;}
#typography{width:100px; height:62px; margin:0 auto;border:1px dashed #fff;border-top:none;}