/*==================================================
	Dark:			#460C08
	Brown:			#5D2123
	Red:			#AB232D
	Dust:			#C79E60
	Light:			#E1E8E9
==================================================*/

body {
	background: #3C3935 url(/images/bg.jpg) repeat;
}

#header{width: 100%;height: 100px;}

#logo {background:#AB232D;width:110px;height:67px;margin-left:20px;
		-webkit-box-shadow: 1px 2px 5px #000;}
#typography{width:100px; height:62px; margin:0 auto;border:1px dashed #fff;border-top:none;}

#wrap{width:100%;height:auto;}
#review{width:75%;margin:0 auto;background:#E1E8E9;padding: 20px;
	-webkit-border-radius:15px;
	-webkit-box-shadow: 1px 2px 5px #000;}
#list,#calendar,#graph{height: 300px;}
#review .left{position:relative;float:left; text-align:left;}
#review .right{position: relative; float:right; text-align:right;}
#list-intro,#calendar-intro,#graph-intro{width:80%;}
#list-img,#calendar-img,#graph-img{width:20%;}