/*==========================
	Base color
	orange:			#E4725F
	light:			#FBF3E0
	light brown:	#D9CAA8
	dark:			#3C3935
	dark brown:		#CDB09A
==========================*/

body {
	background: #3C3935 url(/images/bg.gif) repeat;
}

#title {
	background: #CDB09A;
	width: 600px;
	margin: auto;
	border-bottom: 2px dashed #E4725F;
	border-left: 2px dashed #E4725F;
	border-right: 2px dashed #E4725F;
	-webkit-box-shadow: 0 0 1px 1px #D9CAA8;
}

#title h1 {
	color: #000;
	text-align: center;
	font-size: 2.5em;
	font-weight: bold;
	font-family: 'Kreon', arial, serif;
}

#intro {
	background: #fff;
	width: 100%;
	height: 400px;
	margin: 50px auto 0;
}

#intro-up {
	height: 70%;
	width: 100%;
	position: relative;
	float: left;
	overflow: hidden;
	background: #d5e8ec;
}

#intro-down {
	height: 30%;
	width: 100%;
	position: relative;
	float: right;
	font-family: 'Ubuntu', arial, serif;
	font-size: 1.3em;
	-webkit-box-shadow: 1px 0 5px #0c0c0c;
	background: #fafafa;
	line-height: 1.5;
	text-align: left;
}

.about {
	margin: 2px 10px;
}

.main {
	background: #FBF3E0;
	font-family: 'Ubuntu', arial, serif;
}

.secondary {
	background:#E4725F;
	font-family: 'Ubuntu', arial, serif;
	margin-left: 10px;
}

ul.sidenav {
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: 'Ubuntu',arial,serif;
	background: #CA0700;
	border-bottom: 1px solid #5C1E1B;
	border-top: 1px solid #FF4D4D;
}

ul.sidenav li a {
	display: block;
	color: #fff;
	text-decoration: none;
	text-align: left;
	width: auto;
	padding: 5px 5px 5px 15px;
	border-bottom: 1px solid #5C1E1B;
	border-top: 1px solid #FF4D4D;
}

ul.sidenav li {
	margin: 0 1em;
}

li.selected a {
	background: url(/images/green.png) no-repeat 240px 7px;
}

li.not_selected a {
	background: url(/images/red.png) no-repeat 240px 7px;
}

#new_task input[type="text"] {
	width: 500px;
	padding: 5px;
	font-size: 15px;
	text-shadow: 0px 1px 0px #fff;
	outline: none;
	background: -webkit-gradient(linear, left top, left bottom, from(#bcbcbe), to(#ffffff));
	-webkit-border-radius: 3px;
	border-radius: 3px
	border: 1px solid #717171;
	-webkit-box-shadow: 1px 1px 0px #efefef;
	box-shadow: 1px 1px 0px #efefef;
}

#new_task input[type="submit"]{
	margin: 10px;
}

#new_task input:focus {
	-webkit-box-shadow: 0px 0px 5px #007eff;
	box-shadow: 0px 0px 5px #007eff;
}

#input {
	margin: 10px 5px;
}