/*==================================================
	Dark:			#460C08
	Brown:			#5D2123
	Red:			#AB232D
	Dust:			#C79E60
	Light:			#E1E8E9
==================================================*/

body {
	background: #3C3935 url(/images/bg.jpg) repeat;
}

