/*==================================================
	Dark:			#460C08
	Brown:			#5D2123
	Red:			#AB232D
	Dust:			#C79E60
	Light:			#E1E8E9
==================================================*/

body {
	background: #3C3935 url(/images/bg.jpg) repeat;
}

#header{width: 100%;height: 100px;}

#logo {background:#AB232D;width:110px;height:67px;margin-left:20px;
		-webkit-box-shadow: 1px 2px 5px #000;position:relative;float:left;}
#typography{width:100px; height:62px; margin:0 auto;border:1px dashed #fff;border-top:none;}
#header_menu {width:500px;position:relative;float:right;}
#header_menu li{list-style:none;position:relative;float:left;}
#header_menu .select{background: url(/images/menu.png) no-repeat; width:76px; height:115px;}
.menu_item{margin-top: 30px;}

#wrap{width:100%;height:auto;}
#review{width:960px;margin:0 auto;background:rgba(0, 0, 0, 0.4);padding: 20px;
	-webkit-border-radius:15px;
	-webkit-box-shadow: 1px 2px 5px #000;}
#list,#calendar,#graph{height: 300px;}
#review .left{position:relative;float:left; text-align:left; margin: 0px;}
#review .right{position: relative; float:right; text-align:right; margin: 0px;}
.intro {width:560px;}
.thumb{width: 400px;}
#list_title,#graph_title{ text-align: left;}
#calendar_title{text-align: right;}
.screenshot{margin-top:1em;}
.hr{margin-top:50px;margin-bottom:40px;}