/*==========================
	Base color
	orange:			#E4725F
	light:			#FBF3E0
	light brown:	#D9CAA8
	dark:			#3C3935
	dark brown:		#CDB09A
==========================*/

body {
	background: #3C3935 url(/images/bg.jpg) repeat;
}

#logo {
	background: #CA0700;
	width: 100px;
	height: 62px;
	margin-left: 60px;
	font-family: 'Dancing Script', arial, serif;
	color: #fff;
	text-shadow: 0px 1px 0px #000;
	float: none;
	-webkit-box-shadow: 3px 5px 10px #0c0c0c;
}

#font {
	width: 90px;
	height: 57px;
	border: 1.5px dashed #fff;
	border-top: none;
	margin: 0 auto;
}

#logo h1 {
	line-height: 2em;
}

#slogan {
	margin: 0 auto;
	width: 600px;
	height: 100px;
}

#slogan h1 {
	color: #fff;
	line-height: 3em;
	text-shadow: 0 1px 0 #000;
	text-align: center;
	font-size: 2.5em;
	font-weight: bold;
	font-family: 'Kreon', arial, serif;
}

#intro {
	background: #3C3935;
	width: 100%;
	height: 400px;
	margin: 50px auto 0;
}

#intro-up {
	height: 70%;
	width: 100%;
	position: relative;
	float: left;
	overflow: hidden;
	background: #d5e8ec;
}

#intro-down {
	height: 30%;
	width: 100%;
	position: relative;
	float: right;
	font-family: 'Ubuntu', arial, serif;
	font-size: 1.3em;
	-webkit-box-shadow: 1px 0 5px #0c0c0c;
	background: #fafafa;
	line-height: 1.5;
	text-align: left;
}

.about {
	margin: 2px 10px;
}

.main {
	background: #FBF3E0;
	font-family: 'Ubuntu', arial, serif;
	-webkit-box-shadow: 5px 0 15px #000;
}

.secondary {
	background:	#3C3935;
	font-family: 'Ubuntu', arial, serif;
	margin-left: 10px;
	-webkit-box-shadow: 5px 0 15px #000;
}

ul.sidenav {
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: 'Ubuntu',arial,serif;
	background: #CDB09A;
	border-bottom: 1px solid #FBF3E0;
	border-top: 1px solid #CDB09A;

}

ul.sidenav li a {
	display: block;
	color: #000;
	text-decoration: none;
	text-align: left;
	width: auto;
	padding: 5px 5px 5px 15px;
	border-bottom: 1px solid #FBF3E0;
	border-top: 1px solid #CDB09A;
}

ul.sidenav li:last-child a{
	border-bottom: none;
}

ul.sidenav li:first-child a{
	border-top: none;
}

ul.sidenav li {
	margin: 0 1em;
}

li.selected a {
	background: url(/images/green.png) no-repeat 240px 7px;
}

li.not_selected a {
	background: url(/images/red.png) no-repeat 240px 7px;
}

#new_task input[type="text"] {
	width: 530px;
	height: 30px;
	padding: 5px;
	font-size: 15px;
	text-shadow: 0px 1px 0px #fff;
	outline: none;
	background: -webkit-gradient(linear, left top, left bottom, from(#bcbcbe), to(#ffffff));
	-webkit-border-radius: 3px;
	border-radius: 3px
	border: 1px solid #717171;
	-webkit-box-shadow: 1px 1px 0px #efefef;
	box-shadow: 1px 1px 0px #efefef;
}

#new_task input[type="submit"]{
	margin: 10px;
}

#new_task input:focus {
	-webkit-box-shadow: 0px 0px 5px #007eff;
	box-shadow: 0px 0px 5px #007eff;
}

#input {
	margin: 30px;
}

#tasks {
	margin: 5px auto;
	width: 550px;
}

#tasks ul {
	margin: 30px auto;
}

#tasks li {
	margin: 0;
	font-family: 'Ubuntu', arial, serif;
	list-style:none;
	border-bottom: 1px dashed #999;
	line-height: 3em;
	font-size: 1.5em;
}

#tasks img {
	margin-top: 1.5em;
}

#tasks ul p{
	font-size: 2em;
	font-weight: bold;
}

#profile {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 82px;
	-webkit-box-shadow: 0 0 3px #CA0700;
}

#gravatar {
	margin: 0;
	padding: 0;
	width: 80px;
	height:80px;
	border: 1px solid #000;
}

#welcome {
	margin: 10px 0.5em 0 0;
	width: 185px;
	color: #fff;
}

#welcome p {
	margin: 0;
}

.counter{
	font-family: 'Ubuntu', arial, serif;
}