@font-face { font-family: 'Dancing Script';src:url(/images/fonts/DancingScript-Regular.ttf);}
@font-face { font-family: 'Kreon'; src:url(/images/fonts/Kreon-Regular.ttf);}
@font-face { font-family: 'Kreon Bold'; src:url(/images/fonts/Kreon-Bold.ttf);}
@font-face { font-family: 'Kreon Light'; src:url(/images/fonts/Kreon-Light.ttf);}
@font-face { font-family: 'Ubuntu'; src: url(/images/fonts/Ubuntu-Regular.ttf); }
@font-face { font-family: 'Ubuntu Italic'; src: url(/images/fonts/Ubuntu-Italic.ttf);}
@font-face { font-family: 'Ubuntu Bold'; src: url(/images/fonts/Ubuntu-Bold.ttf);}
@font-face { font-family: 'Ubuntu BoldItalic'; src: url(/images/fonts/Ubuntu-BoldItalic.ttf);}

#typography h1{ font-family:'Dancing Script'; color: #fff; font-size: 2.5em; line-height: 2em;text-shadow: 0px 2px 3px #000;}
.intro h2{font-family:'Kreon Bold'; font-size: 2em; line-height: 1.5em; color: #fff; text-shadow: -1px -1px -1px #000;}